<div class="home-page">
  <div class="container text-center mb-4">
    <img class="news-logo" src="botlerlogo.png" alt="botler logo">
    <h1>Welcome to Botlers!</h1>
    <br>
    <p class="intro">
      Never lift a finger again  <br> with our adorable range of household assistants.
    </p>
    <br>
    <p>
      BROWSE  PRODUCTS
    </p>
    <img src="triangle.png" alt="arrow pointing down">
  </div>

  <div class="container kitchen text-center d-sm-inline-flex px-sm-5">
    <div class="container">
      <img class="home-toaster" src="toaster.png" alt="toaster image">
    </div>

    <div class="container text-left">
      <div class="">
        <br>
        <h2>Kitchen Bots</h2>
        <p>Cooking has never been easier with our talented and intuitive kitchen bots. Cocktails anyone?</p>
      </div>
      <div class="">
        <button id="browse-red" class="btn btn-primary px-5">
          BROWSE
        </button>
      </div>

    </div>
  </div>

  <div class="container cleaning text-center d-sm-inline-flex px-sm-5">
    <div class="extra-padding text-sm-right d-sm-inline-flex px-sm-5">
      <div class="container order-1 ">
        <img class="home-vaccume" src="vaccume.png" alt="vaccum cleaner image">
      </div>
      <div class="container order-0 text-left">
        <div class="">
          <br>
          <h2>Cleaning Bots</h2>
          <p>Never take out the garbage again with our super tidy range of washing, scrubbing and mopping bots.</p>
        </div>
        <div class="">
          <button id="browse-green" class="btn btn-primary px-5">
            BROWSE
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="container laundry text-center d-sm-inline-flex px-sm-5">
    <div class="container">
      <img class="home-laundry" src="washer.png" alt="washing machine image">
    </div>
    <div class="container text-left">
      <div class="">
        <br>
        <h2>Laundry Bots</h2>
        <p>Have your cardigans washed and your linen pressed while you spend the rest of your days in leisure.</p>
      </div>
      <div class="">
        <button id="browse-yellow" class="btn btn-primary px-5">
          BROWSE
        </button>
      </div>
    </div>
  </div>

  <div class="container quiz text-center">
    <img class="home-quiz" src="microwave.png" alt="microwave image">
    <div class="container text-center">
      <br>
      <h2>Spoiled for choice?</h2>
      <p>Take this quiz to see which bot could be your best bud.</p>
      <button class="btn btn-primary px-5">
        TAKE THE QUIZ
      </button>
    </div>
  </div>

  <div class="container signup-newsletter text-center d-sm-inline-flex">
    <div class="container text-left d-sm-inline-flex px-sm-5">
      <div class="container text-left">
        <h2 class="white-h2">Sign up to our  newsletter!</h2>
        <p>Stay informed on the latest bot-tech, system updates and get <strong>10% off your next purchase</strong> by signing up to the Monthly Botler Newsletter.</p>
      </div>
      <div class="container text-sm-center">
        <br>
        <button id="browse-white" class="btn btn-primary px-5">
          SIGN ME UP!
        </button>
      </div>
    </div>
  </div>

  <div class="container footer-nav p-0">

    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link about" aria-current="page" href="#">ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link our-products" href="#">OUR PRODUCTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">SUPPORT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CONTACT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">MY ACCOUNT</a>
      </li>
      <li class="nav-item">
        <img class="fb-logo" src="facebook.png" alt="facebook logo">
        <img class="twitter-logo" src="twitter.png" alt="twitter logo">
      </li>
    </ul>

  </div>
</div>
