<h1>HeyBotler.com Privacy Policy</h1>

<h3>Introduction</h3>
<p>HeyBotler.com Privacy Policy</p>
<p>Welcome and thank you for visiting the HeyBotler.com (Botler) website (this site and any other Botler sites are referred to as the “Site”). Please read through this Privacy Policy carefully as it contains important information about how Botler collects and uses your personal information.</p>
<p>Botler offers an easy to use chatbot platform that lets users create bots and interact with bots (with or without accounts)</p>
<p>Here are a few terms we use throughout this Privacy Policy that you should know:</p>
<p>“Users” are individuals who have signed up to create an account on the Site, or individuals who interact with bots on the platform without creating an account.</p>
<p>“Personal Information” is: (i) information that directly identifies you as an individual, like your name or your email address, or (ii) a combination of pieces of information that do not identify you on their own, but could identify you when combined using reasonable effort.</p>
<p>This Privacy Policy describes how Botler. (“Botler”, “we”, “us” and/or “our”) collects, uses, shares and secures the Personal Information (defined below) of Users in connection with our provision of the Site, and any other products or services we may offer from time to time (collectively, the “Services”).</p>
<p>We may also obtain information, including Personal Information, from publicly available sources or third parties, and combine this information with the Personal Information you provide to us.</p>
<p>By using the Services and/or providing us with your Personal Information, you agree to the processing of your Personal Information in the manner set out in this Privacy Policy.</p>
<p>Botler is not made for use in the European Union (EU) and users from the EU are discouraged from making accounts. If you are from the EU and would like your information removed from our Site, as defined in the Policy below, please email us at contact@heybotler.com.</p>

<h3>Scope</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur et vero debitis inventore cupiditate nihil asperiores, natus cum reiciendis laudantium aut tempore consequuntur velit doloribus impedit totam officiis at soluta.</p>

<h3>Personal Information Collected Through The Services</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam ea fugiat doloribus voluptate, eos totam nostrum, commodi adipisci modi alias. Voluptas velit nostrum ab odit, facere tempora quasi consequuntur dolore.</p>

<h3>Cookies</h3>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam possimus natus nihil dolores cum, magnam, optio animi laudantium ea perspiciatis, officia tempore. Numquam modi voluptate, dicta quos eaque. Voluptates, quasi.</p>
