$primary-color1: #4A4A4A;
$primary-color2: #ED5744;

$accent-color1: #FFE9E6;
$accent-color2: #D14966;
$accent-color3: #31B7A9;
$accent-color4: #F4A749;

$error-color: #DA002E;



$table-color:                 $primary-color1;
$table-bg:                    $accent-color1;
$table-accent-bg:             transparent;
