
<img src="http://www.fillmurray.com/200/300" alt="fill murray">
<h3>Thanks for subscribing!</h3>
<p>You just made my day!</p>
<p>Find your 10% code in your welcome email</p>
<%= link_to 'TAKE ME HOME', root_path %>
