@import "./variables/variables.scss";

@mixin h1Desktop {
  color: $primary-color2;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.04em;
}
@mixin h2Desktop {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: 0.04em;
}
@mixin h3Desktop {
  color: $primary-color2;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
}
@mixin p1Desktop {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.04em;
}
@mixin buttonDesktop {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 19px;
  line-height: 26px;
  letter-spacing: 0.04em;
}
body {
}

h1 {
  @include h1Desktop
}
h2 {
  @include h2Desktop
}
h3 {
  @include h3Desktop
}
p {
  @include p1Desktop
}
button {
  @include buttonDesktop
}

table {
  background: $table-bg;
}

.subscribers-link > a {
  color: $primary-color1;
}
