@import "./variables/variables.scss";


body {
  font-family: Open Sans;
  color: $primary-color1;
}

h1 {
  @include h1Desktop
}
h2 {
  @include h2Desktop
}
h3 {
  @include h3Desktop
}
h4 {
  @include h4Desktop
}
p {
  @include p1Desktop
}
button {
  @include buttonDesktop
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
table {
  background: #FFFFFF;
}
.table td {
  color: $primary-color1;
}
td {
  padding: 0.75rem 4em 0.75rem 4rem;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}
th {
  padding: 0.75rem 4rem 0.75rem 4rem;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 29px;
}
.newsletter-rows {
  border-color: #C4C4C4;
  border-radius: 1px;
  border-top: solid;
  border-width: 1px;
}
.container-sm {
  background: #FFFFFF;
  width: 90%;
}

.border {
  border-color: $primary-color2 !important;
}
.news-logo {
  width: 102px;
  height: 61px;
}
.subscriber-bg {
  background: $accent-color1;
  max-width: 1440px;
}

.subscribers-link > a {
  color: $primary-color1;
}
.subscribers-link > a {
  color: $primary-color1;
}
.pagination .page > a {
  color: $primary-color1;
}
.pagination .next > a {
  color: $primary-color1;
}
.pagination .last > a {
  color: $primary-color1;
}
.pagination .prev > a {
  color: $primary-color1;
}
.pagination .first > a {
  color: $primary-color1;
}

// .pagination {
//   .page, .next, .last, .prev, .first > a {
//     color: $primary-color1;
//   }
// }
