@import "./variables/variables.scss";


body {
  font-family: Open Sans;
  color: $primary-color1;
}

h1 {
  @include h1Desktop
}
h2 {
  @include h2Desktop
}
h3 {
  @include h3Desktop
}
h4 {
  @include h4Desktop
}
p {
  @include p1Desktop
}
button {
  @include buttonDesktop
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
table {
  background: #FFFFFF;
}
.table td {
  color: $primary-color1;
}
td {
  padding: 0.75rem 4em 0.75rem 4rem;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
}
th {
  padding: 0.75rem 4rem 0.75rem 4rem;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 29px;
}
.newsletter-rows {
  border-color: #C4C4C4;
  border-radius: 1px;
  border-top: solid;
  border-width: 1px;
}
.container-sm {
  background: #FFFFFF;
  width: 90%;
}

.border {
  border-color: $primary-color2 !important;
}
.news-logo {
  width: 102px;
  height: 61px;
}
.subscriber-bg {
  background: $accent-color1;
  max-width: 1440px;
}

.subscribers-link > a {
  color: $primary-color1;
}
.subscribers-link > a {
  color: $primary-color1;
}
.pagination .page > a {
  color: $primary-color1;
}
.pagination .next > a {
  color: $primary-color1;
}
.pagination .last > a {
  color: $primary-color1;
}
.pagination .prev > a {
  color: $primary-color1;
}
.pagination .first > a {
  color: $primary-color1;
}

// .pagination {
//   .page, .next, .last, .prev, .first > a {
//     color: $primary-color1;
//   }
// }
// NAVBAR COLORS & SPACING

.navbar {
  background-color: #FFF !important
}

.navbar-nav .nav-link {
  margin: 0 1.3rem;
  color: #ED5744 !important;
}

.navbar-nav .nav-link:hover {
  color: #00000080 !important;
}


// Subscriptions  NEW & SHOW

.btn.btn-default {
  color: #fff;
  background-color: #ED5744 !important;
  width: 246px;
  height: 40.19px;
}

.row.colbtm-bg {
  background-color: #FFE5E2;
  padding: 40px 0;
}

.row.colbtm-bg-1 {
  background-color: #FFE5E2;
  padding: 0px 0;
}

 .row.colbtm-bg-1 button {
  color: #fff;
  background-color: #ED5744 !important;
  width: 246px;
  height: 40.19px;
  border: none;
  margin-bottom: 30px;
}

.row.colbtm-bg-1 h3{
  font-size: 25px;
  color: #4A4A4A;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
 }

a.take-home{
  display: block;
  font-weight: bold;
  text-decoration: underline;
  color: #ED5744 !important;
  margin-bottom: 30px;
}

a.take-home:hover{
  text-decoration: underline;
  color: #ED5744 !important;
}

.navbar li.nav-item {
  border: none;
}

.navbar-nav a.session {
  color: #4A4A4A !important;
  // text-decoration: none;

}

.navbar-nav a.session:hover {
  text-decoration: underline;
  color: #4A4A4A !important;

}
