<div class="container">
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <%= link_to('BOTLERS.COM',root_path, :class =>'navbar-brand') %>
  <button
    class="navbar-toggler"
    data-toggle="collapse"
    data-target="#navbarMenu"
  >
  <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarMenu">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item"><a class="nav-link" href="#">ABOUT</a></li>
      <li class="nav-item"><a class="nav-link" href="#">PRODUCTS</a></li>
      <li class="nav-item"><a class="nav-link" href="#">SUPPORT</a></li>
      <li class="nav-item"><a class="nav-link" href="#">CONTACT</a></li>
      <li class="nav-item"><a class="nav-link" href="#">NEWSLETTER</a></li>
      <li class="nav-item"><a class="nav-link" href="#">MY&nbsp;ACCOUNT</a></li>
    </ul>
  </div>
  <ul class="navbar-nav">
    <% if @current_admin.present? %>
      <%= link_to "LOGOUT", login_path, :method => 'delete', :class => 'nav-link session' %>
    <% else %>
      <%# link_to "LOGIN", login_path, :class => 'nav-link session' %>
      <li class="nav-item"><a class="nav-link session" href="/login">LOGIN</a></li>
    <% end %>
  </ul>
</nav>
</div>
